vendor/*
player-files/*
web/local-medias/*
web/configurations.json

player-files-test/*
!player-files-test/playlist-templates/
!player-files-test/user-templates/
web/test/local-medias/*
web/test/configurations.json
