vendor/*
private/player-files/*
web/local-medias/*
web/configurations.json

private/player-files-test/*
!private/player-files-test/collection-templates/
!private/player-files-test/user-templates/
web/test/local-medias/*
web/test/configurations.json
